<!DOCTYPE html>
<html>
  <head>
    <title>SpGeekWebSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
      <h1>spGeekWebSite</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "About Us",top_about_path %></li>
        <li><%= link_to "Products",posts_path %></li>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
